

    
    #ccis{
        display: flex;
        width: 90%;
        max-width: 50rem;
        height: 50vh;
        margin: 2rem auto;
        padding: 2.5rem;
        border-radius: 1rem;
        background: linear-gradient(to right,green 10%, #43e51e 40%, rgba(202, 70, 61, 0) 70%), 
        url('ccis1.jpg'); 
        background-size: cover;
        background-position: center;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1)
        
    }
    #ccis h2 {
        display: flex;
        color: #060000;
        -webkit-text-stroke: 2px whitesmoke;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 3rem;
    
    }
    #ccis ul {
        background-color: white;
        border-radius: 1rem;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.5rem;
    }
    #ccis:hover {
        transform: translateY(-1rem);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    }
    
    

        
        #cbm{
            display: flex;
            width: 90%;
            max-width: 50rem;
            height: 60vh;
            margin: 2rem auto;
            padding: 2.5rem;
            border-radius: 1rem;
            background: linear-gradient(to right,yellow 10%, yellow 40%, rgba(202, 70, 61, 0) 70%), 
            url('cbm\ logo.jpeg'); 
            background-size: cover;
            background-position: center;
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1)
            
        }
        #cbm h2 {
            display: flex;
            color: #060000;
            -webkit-text-stroke: 2px whitesmoke;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 3rem;
        
        }
        #cbm ul {
            background-color: white;
            border-radius: 1rem;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1.5rem;
        }
        #cbm:hover {
            transform: translateY(-1rem);
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
        }
        
    
    
        
            #cas{
                display: flex;
                width: 90%;
                max-width: 50rem;
                height: 60vh;
                margin: 2rem auto;
                padding: 2.5rem;
                border-radius: 1rem;
                background: linear-gradient(to right, grey 10%, rgb(185, 207, 230) 40%, rgba(202, 70, 61, 0) 70%), 
                url('cas.jpg'); 
                background-size: cover;
                background-position: center;
                box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1)
                
            }
            #cas h2 {
                display: flex;
                color: #060000;
                -webkit-text-stroke: 2px whitesmoke;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 3rem;
            
            }
            #cas ul {
                background-color: white;
                border-radius: 1rem;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 1.5rem;
            }
            #cas:hover {
                transform: translateY(-1rem);
                transition: transform 0.3s ease, box-shadow 0.3s ease;
                box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
            }
            
      
            
     
        
                #cte{
                    display: flex;
                    width: 90%;
                    max-width: 50rem;
                    height: 60vh;
                    margin: 2rem auto;
                    padding: 2.5rem;
                    border-radius: 1rem;
                    background: linear-gradient(to right, rgb(30, 71, 206) 10%, rgb(185, 207, 230) 40%, rgba(202, 70, 61, 0) 70%), 
                    url('CTE\ LOGO.png'); 
                    background-size: cover;
                    background-position: center;
                    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1)
                    
                }
                #cte h2 {
                    display: flex;
                    color: #060000;
                    -webkit-text-stroke: 2px whitesmoke;
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 3rem;
                
                }
                #cte ul {
                    background-color: white;
                    border-radius: 1rem;
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 1.5rem;
                }
                #cte:hover {
                    transform: translateY(-1rem);
                    transition: transform 0.3s ease, box-shadow 0.3s ease;
                    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
                }
     
     
     
        
        #ccje{
            display: flex;
            width: 90%;
            max-width: 50rem;
            height: 60vh;
            margin: 2rem auto;
            padding: 2.5rem;
            border-radius: 1rem;
            background: linear-gradient(to right, maroon 10%, rgb(235, 15, 44) 40%, rgba(202, 70, 61, 0) 70%), 
            url('ccje.jpg'); 
            background-size: cover;
            background-position: center;
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1)
            
        }
        #ccje h2 {
            display: flex;
            color: #060000;
            -webkit-text-stroke: 2px whitesmoke;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 3rem;
        
        }
        #ccje ul {
            background-color: white;
            border-radius: 1rem;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1.5rem;
        }
        
        #ccje:hover {
            transform: translateY(-1rem);
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
        }
     
     
     
      
        
            #cthm{
                display: flex;
                width: 90%;
                max-width: 50rem;
                height: 60vh;
                margin: 2rem auto;
                padding: 2.5rem;
                border-radius: 1rem;
                background: linear-gradient(to right, rgb(28, 124, 11) 10%, rgb(58, 228, 61) 40%, rgba(202, 70, 61, 0) 70%), 
                url('cthm.jpg'); 
                background-size: cover;
                background-position: center;
                box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1)
                
            }
            #cthm h2 {
                display: flex;
                color: #060000;
                -webkit-text-stroke: 2px whitesmoke;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 3rem;
            
            }
            #cthm ul {
                background-color: white;
                border-radius: 1rem;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 1.5rem;
            }
            #cthm:hover {
                transform: translateY(-1rem);
                transition: transform 0.3s ease, box-shadow 0.3s ease;
                box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
            }
         